body{
    background-image: url(../assets/images/patinhas.png);
}
.pets{
    background-color: #fff;
    margin: 8em;
}
h1{
    color: #CA5928;
    display: flex;
    justify-content: center;
    font-size: 3em;
}
h2{
    color: #CA5928;
    display: flex;
    justify-content: center;
    font-size: 3em;
}
h3{
    color: #29A9B3;
    padding: 1em;
    font-size: 2em;
    margin-top: 1em;
    margin-left: 3em;
}
h5{
    display: flex;
    justify-content: center;
    padding: 1em;
    font-size: 1.5em;
}
.t2{
    margin-top: 0em;
}
.Animais{
    height: 26em;
    margin-top: 5em;
    margin: 4em;
}
.textos{
    display: flex;
    flex-direction: row;
}
.cards{
    display: flex;
    justify-content: flex-start;
    margin-left: 2.5em;
    margin-top: 3em;
}
.card1{
    background-color: #eee;
    margin-left: 7.6em;
}
.card2{
    background-color: #eee;
    margin-left: 7.6em;
}
.card3{
    background-color: #eee;
    margin-left: 7.6em;
}
.card4{
    background-color: #eee;
    margin-left: 8em;
    margin: 2em;
}
.Cacau{
    width: 22em;
    height: 22em;
}
.Marley{
    width: 22em;
    height: 22em;
}
.Duque{
    width: 22em;
    height: 22em;
}
.Princesa{
    width: 22em;
    height: 25em;
}
.Xubi{
    width: 22em;
    height: 22em;
}
.Fofinha{
    width: 22em;
    height: 22em;
}
.Maezinho{
    width: 23.3em;
    height: 22em;
}
.Leoni{
    width: 22em;
    height: 22em;
}